<div class="row">
    <div class="row">
        <span class="customDiscounts">DEAL OF THE DAY</span>
        <span class="customDiscountsSkew"></span>
    </div>
</div>
<div class="customDiscountsEnd"></div>

<style>
    .customDiscounts {
        font-size: 18px !important;
        color: #FFF !important;
        font-weight: 700 !important;
        background: #C45500;
        height: 28px;
        max-width: 90%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 5px;
        float: left;
        overflow: hidden;
        line-height: 1.465 !important;
    }

    .customDiscountsSkew {
        border-right: 4px solid transparent;
        border-top: 28px solid #C45500;
        float: left;
    }
    .customDiscountsEnd{
        clear: both;
        margin-bottom: 15px;
    }
</style>